@font-face {
        font-family: "Humane Bold";
        src: url("fonts/Humane-Bold.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }

      /* Humane Medium */
      @font-face {
        font-family: "Humane Medium";
        src: url("fonts/Humane-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }

      /*Sans */
      @font-face {
        font-family: "Raintion Black";
        src: url("fonts/Raintion-Black.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }

      /*Sans Finlikless*/
      @font-face {
        font-family: "Finlikless-Regular";
        src: url("fonts/Finlikless-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }

      /*Sans Esentika*/
      @font-face {
        font-family: "Esentika Regular";
        src: url("fonts/Esentika-Regular.otf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }

      /*Sans Marengos*/
      @font-face {
        font-family: "Marengos Regular";
        src: url("fonts/Marengos-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }

      /* CSS Variables for theming hell */
      :root {
        /* Light theme variables */
        --bg-primary-light: #ffffff;
        --bg-secondary-light: #f5f5f5;
        --text-primary-light: #000000;
        --text-secondary-light: #4a4a4a;
        --tag-bg-light: #fafafa;
        --tag-hover-light: #dadada;
        --border-light: #607274;
        --border-dark: #4c585b;
        --testimony-light: #fbfbfb;
        --tag-light-bg: #E3E1D9;

        /* Dark theme variables */
        --bg-primary-dark: #1a1a1a;
        --bg-secondary-dark: #333333;
        --text-primary-dark: #d9d9d9;
        --text-secondary-dark: #d9d9d9;
        --tag-bg-dark: #333333;
        --tag-hover-dark: #444444;
        --tag-dark-bg: #4C585B;
      }

      /* Light mode by default */
      :root[data-theme="light"] {
        --bg-primary: var(--bg-primary-light);
        --bg-secondary: var(--bg-secondary-light);
        --text-primary: var(--text-primary-light);
        --text-secondary: var(--text-secondary-light);
        --tag-bg: var(--tag-bg-light);
        --tag-hover: var(--tag-hover-light);
        --border-color: var(--border-light);
        --tag-bg-color: var(--tag-light-bg);
      }

      /* Dark mode */
      :root[data-theme="dark"] {
        --bg-primary: var(--bg-primary-dark);
        --bg-secondary: var(--bg-secondary-dark);
        --text-primary: var(--text-primary-dark);
        --text-secondary: var(--text-secondary-dark);
        --tag-bg: var(--tag-bg-dark);
        --tag-hover: var(--tag-hover-dark);
        --border-color: var(--border-dark);
        --tag-bg-color: var(--tag-dark-bg);
      }

      :root[data-theme="dark"] .social-links a {
        color: white;
      }

      /* System preference detection */
      @media (prefers-color-scheme: dark) {
        :root:not([data-theme]) {
          --bg-primary: var(--bg-primary-dark);
          --bg-secondary: var(--bg-secondary-dark);
          --text-primary: var(--text-primary-dark);
          --text-secondary: var(--text-secondary-dark);
          --tag-bg: var(--tag-bg-dark);
          --tag-hover: var(--tag-hover-dark);
        }
      }

      /* Reset and base styles */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
      }

      body {
        background-color: var(--bg-primary);
        color: var(--text-primary);
        line-height: 1.6;
        min-height: 100vh;
        transition: background-color 0.3s, color 0.3s;

 background-image: 
    linear-gradient(to right, var(--bg-secondary) 1px, transparent 1px), /* Vertical lines */
    linear-gradient(to bottom, var(--bg-secondary) 1px, transparent 1px); /* Horizontal lines */
  background-size: 30px 30px; /* Size of each grid box */
      }
      .sun-dark-mode {
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        padding: 8px;
      }
      .moon-light-mode {
        color: black;
        border: 1px solid black;
        border-radius: 50%;
        padding: 8px;
      }

      /* Theme toggle */
      .theme-toggle {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: var(--bg-secondary);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        transition: background-color 0.3s;
        z-index: 10;
        
      }

      .theme-toggle:hover {
        background: var(--tag-hover);
      }

      /* Container styles */
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem 2rem;
      }
      .l-border-css {
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px;
        margin-bottom: 2rem;
      }

      .l-border-css::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        border-right: 1.5px solid var(--text-secondary);
        border-bottom: 1.5px solid var(--text-secondary);
      }

      .l-border-css::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-left: 1.5px solid var(--text-secondary);
        border-top: 1.5px solid var(--text-secondary);
      }

      .content-wrapper {
        max-width: 800px;
        margin: 0 auto;
        
      }

      /* Header section */
      .header {
        display: flex;
        justify-content: space-between;
        //align-items: center;
        align-items: flex-start;
        margin-bottom: 2rem;
      }

      .profile-info {
        flex-grow: 1;
      }

      .name {
        font-family: "Humane Medium";
        font-size: 100.104px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 1rem;
        color: var(--text-secondary);
      }

      .title {
        font-family: "Marengos Regular";
        font-size: 1.5rem;
        color: var(--text-secondary);
        margin-bottom: 1rem;
        font-weight: 700;
        //line-height: 40px;
        text-transform: uppercase;
      }

      .location {
        color: var(--text-secondary);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
      }

      .profile-image {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
        //margin-left: 2rem;
        margin-left: 0;
        margin-top: 1rem;
        border: 2px solid var(--text-secondary);
      }

      /* Social links */
      .social-links {
        display: flex;
        gap: 0.3rem;
        margin-bottom: 2rem;
      }

      .social-link {
        width: 40px;
        height: 40px;
        //background-color: var(--tag-bg);
        //border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, border-color 0.3s;
        border: 1px solid var(--border-color);
      }
      .social-links a {
        text-decoration: none;
        color: black;
      }

      .social-link:hover {
        background-color: var(--tag-hover);
      }
      .testimonial {
        background-color: var(--tag-bg);
        padding: 20px 25px;
        font-size: 14px;
        border-radius: 2px;
        position: relative;
        font-family: "Marengos Regular";
        line-height: 1.6;
        color: var(--text-secondary);
        margin-bottom: 1rem;
        margin-top:3rem;
        text-align: justify;
      }

      .testimonial::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        background-color: #727d73;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .testimonial-text {
        margin: 0 0 10px 0;
      }

      .testimonial-author {
        text-align: right;
        margin: 0;
      }

      .testimonial-author::before {
        content: "- ";
      }

      /* Bio section */
      .bio {
        margin-bottom: 2rem;
        margin-top: 1rem;
        color: var(--text-secondary);
        font-size: 1rem;
        line-height: 1.7;
        text-align: justify;
        border-style:dashed;
        border-width: 1px;
        border-color: var(--text-secondary);
        padding:1rem;
      }

      /* Skills section */
      .skills-section {
        margin-bottom: 1rem;
      }
      .skills-section h2 {
        font-family: "Humane Medium";
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
        letter-spacing: 3px;
        font-weight: 400;
        color: var(--text-secondary);
      }

   /* Tab Styling */
.tab {
  display: flex;
  justify-content: start;
  border-bottom: 2px solid #727d73;
  margin-bottom: 10px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of tabs */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
}

.tab button {
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease;
  font-size: 14px;
  color: #333;
  margin-right: 5px;
  flex-shrink: 0; /* Prevent tabs from shrinking */
}

.tab button:hover {
  background-color: #ddd;
  color: #000;
}

.tab button.active {
  background-color: #727d73;
  color: white;
  font-weight: bold;
}

/* Tab Content Styling */
.tabcontent {
  display: none;
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Skills Grid Styling */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tag {
 
  display: flex;
  align-items: center; /* Align icon and text vertically */
  color: var(--text-secondary);
  padding: 2px 3px;
  font-size: 14px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  gap: 5px; /* Space between icon and text */
  border-style:solid;
        border-width: thin;
        border-color: var(--tag-bg-color);
}
.skill-icon {
  width: 16px;
  height: 16px;
}




      .skills-chart {
        width: 100%;
        height: 150px;
        margin: auto;
        text-align: left;
        //margin-top: 1rem;
         border-style:dashed;
  border-width: 1px;
  border-color: var(--text-secondary);
      }

      
      
.skills-tech {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}

.skills-row {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

/* Fade effects using pseudo-elements */
.skills-row::before,
.skills-row::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.skills-row::before {
  left: 0;
  background: linear-gradient(to right, 
    var(--tag-bg) 0%,
    transparent 100%
  );
}

.skills-row::after {
  right: 0;
  background: linear-gradient(to left, 
    var(--tag-bg) 0%,
    transparent 100%
  );
}

/* Container for the scrolling content */
.skills-scroll {
  display: flex;
  gap: 0.4rem;
  animation: 70s linear infinite;
  will-change: transform;
}

/* Double the animation width for seamless scrolling */
.skills-scroll {
  width: max-content;
  display: flex;
  gap: 0.4rem;
}

/* Right scrolling animation for first row */
.skills-row:nth-child(odd) .skills-scroll {
  animation-name: infiniteScrollRight;
}

/* Left scrolling animation for second row */
.skills-row:nth-child(even) .skills-scroll {
  animation-name: infiniteScrollLeft;
}

.tech-used {
  font-family: "Humane Medium";
  text-align: left;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--text-secondary);
}

.item-tech {
  background-color: var(--bg-primary);
  border: 1px solid var(--tag-bg-color);
  padding: 1rem;
  padding-bottom: 5px;
  text-align: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  opacity: 0.9;
}

.item-tech:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

.item-tech p {
  margin: 0;
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.svg-icon {
  width: 40px;
  height: 40px;
  color: var(--text-secondary);
  transition: transform 0.3s ease;
}

.item-tech:hover .svg-icon {
  transform: scale(1.1);
}

@keyframes infiniteScrollRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 0.2rem));
  }
}

@keyframes infiniteScrollLeft {
  from {
    transform: translateX(calc(-50% - 0.2rem));
  }
  to {
    transform: translateX(0);
  }
}

.skills-row:hover .skills-scroll {
  animation-play-state: paused;
}

      .languages-section {
        margin-top: 1.5rem;
      }

      .languages-section h2 {
        font-family: "Humane Medium";
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
        letter-spacing: 3px;
        font-weight: 400;
        color: var(--text-secondary);
      }

      .languages-list {
        border: 1px solid var(--border-color);
        padding: 10px;
        border-radius: 5px;
      }

      .languages-list p {
        color: var(--text-secondary);
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }

     .education-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.education-section h2 {
  font-family: "Humane Medium";
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem; /* Space below the heading */
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--text-secondary);
}

.education-container {
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive card layout */
  gap: 1rem; /* Space between cards */
}

.education-card {
  background-color: var(--bg-primary); /* Card background */
  border: 1px dashed var(--border-color); /* Card border */
  padding: 0.8rem; /* Padding inside the card */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* Required for absolute positioning of the date */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.education-card:hover {
  transform: translateY(-5px); /* Lift card on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.education-logo img {
  width: 80px; /* Logo size */
  height: 80px; /* Logo size */
  border-radius: 50%; /* Circular logo */
  object-fit: cover; /* Ensures the image fits well */
  margin-bottom: 1rem; /* Space below the logo */
}

.education-info {
  margin-bottom: 1rem; /* Space above the date */
}

.education-title {
  text-transform: uppercase;
  font-family: "Marengos Regular";
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.education-subtitle {
  color: var(--text-secondary);
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.education-date {
  background-color: var(--bg-primary); /* Date background */
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  color: var(--text-secondary);
  border: 1px solid var(--border-color);
  position: absolute; /* Position the date absolutely */
  top: 1rem; /* Distance from the bottom */
  right: 1rem; /* Distance from the right */
}

      /* Experienced Section*/

      .experience-section {
        margin-top: 2rem;
      }

      .experience-section h2 {
        font-family: "Humane Medium";
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 0.1rem;
        letter-spacing: 3px;
        font-weight: 500;
        color: var(--text-secondary);
      }

      .experience-item {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
      }

      .experience-info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }

      .experience-title {
        text-transform: uppercase;
        font-family: "Marengos Regular";
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--text-secondary);
        margin-bottom: 0.5rem;
      }

      .experience-subtitle {
        //font-family: 'Marengos Regular';
        color: var(--text-secondary);
        font-size: 1rem;
        margin-bottom: 0.25rem;
        //text-align: justify;
      }

      .experience-date {
        background-color: var(--bg-secondary);
        padding: 0.2rem 0.6rem;
        //border-radius: 4px;
        font-size: 0.8rem;
        color: var(--text-secondary);
        border: 1px solid var(--border-color);
        height: fit-content;
        align-self: start;
      }

      .experience-bullets {
        list-style-type: disc;
        padding-left: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: var(--text-secondary);
        //text-align: justify;
      }

      .experience-bullets li {
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
        line-height: 1.4;
      }

      .projects-section {
        margin-top: 4rem;
      }

      .projects-section h2 {
        font-family: "Humane Medium";
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
        letter-spacing: 3px;
        font-weight: 500;
        color: var(--text-secondary);
      }

      .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        margin-bottom: 1rem;
      }

      .project-card {
        //background-color: var(--bg-secondary);
        //border-radius: 12px;
        padding: 1rem;
        transition: transform 0.3s ease;
        border: 1px dashed var(--border-color);
        width: 320px;
        height: 260px;
      }

      .project-card:hover {
        transform: translateY(-5px);
      }

      .project-title {
        font-family: "Marengos Regular";
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        color: var(--text-secondary);
      }

      .project-description {
        color: var(--text-secondary);
        font-size: 0.9rem;
        margin-bottom: 1rem;
        line-height: 1.4;
      }

      .project-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
      }

      .project-tag {
        background-color: var(--tag-bg);
        padding: 0.2rem 0.6rem;
        border-radius: 4px;
        font-size: 0.75rem;
        color: var(--text-secondary);
        border: 1px solid var(--border-color);
      }
      a.project-link {
        text-decoration: none;
      }

      .folder-section {
        margin-top: 4rem;
        padding: 0;
      }

      .folder-section h2 {
        font-family: "Humane Medium";
        text-align: center;
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
        letter-spacing: 3px;
        font-weight: 500;
        color: var(--text-secondary);
      }

      .folder-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        //margin: 0; /* Remove any outer margin */
        //padding: 0; /* Remove any inner padding */
        border: 1px solid var(--border-color);
        padding: 10px;
        border-radius: 5px;
      }

      .folder-item {
        text-decoration: none;
        text-align: center;
        transition: transform 0.3s ease;
        margin: 0; /* No margin around items */
        padding: 0; /* Remove padding */
        width: calc(33.33% - 10px);
      }

      .folder-item:hover {
        transform: translateY(-5px);
      }

      .folder-icon {
        //font-size: 4rem;
        color: var(--text-primary);
      }

      .folder-label {
        color: var(--text-secondary);
        font-size: 0.9rem;
        font-weight: 500;
      }

      /* Responsive design */
      @media (max-width: 768px) {
        .container {
          padding: 2rem 1.5rem;
        }
        .theme-toggle {
         margin-top:3.5rem;
        }

        
        
        
        .l-border-css {
          padding: 15px;
        }

        .l-border-css::before,
        .l-border-css::after {
          width: 30px;
          height: 30px;
        }

        .name {
          font-size: 4.5rem;
        }
        .title {
          font-size: 1.4rem;
        }

        .header {
          flex-direction: column-reverse;
          text-align: center;
          align-items: center;
        }
        .profile-info {
          padding-right: 0;
        }
        .location {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 1.5rem;
          text-align: center;
        }
        .bio{
          font-size: 14px;
         }

        .profile-image {
          margin: 0 0 2rem 0;
        }

        .social-links {
          justify-content: center;
        }
        .skills-chart {
          height: 130px;
        }

        .theme-toggle {
          top: 10px;
          right: 10px;
        }
        
        .skills-tech {
          justify-content: center;
          gap: 0.6rem;
        }

        .item-tech {
          width: 70px;
          height: 70px;
        }
        .item-tech p {
          font-size: 10px;
        }

        .projects-section h2 {
          //text-align: center;
        }
        .projects-grid {
          grid-template-columns: 1fr;
          justify-items: center;
        }
        .education-section h2 {
          //text-align: center;
        }
        .languages-section h2 {
          //text-align: center;
        }

        .education-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        .education-title {
          flex: 1;
        }

        .education-date {
          display: inline;
          padding: 0.2rem 0.4rem;
        }
        .folder-grid {
          margin-left: 4.5%;
          margin-right: 4.5%;
        }
        tab {
    border-bottom: none;
  }

  .tab button {
    font-size: 11px; /* Smaller font size for mobile */
    padding: 8px 10px; /* Smaller padding for mobile */
  }

  .tabcontent {
    
  }

  .skills-grid {
    gap: 8px;
  }

  .skill-tag {
    font-size: 11px;
    padding: 1px 3px;
  }

   .content-wrapper .navbar ul{
      gap: 2rem;
        justify-content: center;
        padding: 0 2rem;
   }
   .content-wrapper .navbar li a {
        padding: 2px;
        font-size: 10px;
    }     
      }

      .footer {
        text-align: center;
        font-size: 13px;
      }
       .navbar {
            
            margin-bottom: 1rem;
            background-color: var(--navbar-bg);
            padding: 0.2rem 1rem;
            position: sticky;
            top: 0;
            z-index: 1000;
            transition: all 0.3s ease;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: 1px dashed var(--border-color); /* Card border */
        }

        /* Add backdrop blur when scrolled */
        .navbar.scrolled {
            background-color: var(--bg-primary);
           margin-top: 10px; /* Add margin when scrolled */

        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 2rem;
            align-items: center;
        }

        .navbar li a {
           font-size: 0.8rem;
            color: var(--text-primary);
            text-decoration: none;
            padding: 0.7rem 1.2rem;
            border-radius: 4px;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
        }

        /* Hover effects */
        .navbar li a:hover {
            color: var(--text-secondary);
            background-color: var(--hover-bg);
            transform: translateY(-2px);
        }

       

